$background-color: #0d1117;
$text-color: #c9d1d9;
$grey-color-light: #8b949e;
$grey-color-dark: #6e7681;
$grey-color-very-dark: #30363d;

$button-color: #1f6feb;
$warning-color: #eb811f;

$content-width: 1024px;

$syntax-comment-color: #8b949e;
$syntax-keyword-color: #d2a8ff;
$syntax-number-color: #79c0ff;
$syntax-string-color: #a5d6ff;
$syntax-function-color: #ffa198;

@import "minima";
@import "fabric";
@import "syntax-highlighting";

code, select, pre, input {
    background-color: $background-color;
    color: $text-color;
}

.site-title {
    color: $text-color !important;
}

a, a:visited {
    color: #58a6ff;
}

table {
    tr {
        &:nth-child(even) {
            background-color: #151b23;
        }
    }
    th {
        background-color: #151b23;
      }
}
